@use '../../../styles/colors.scss' as *;

.loginMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loginFormContainer{
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $c-white;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;

    h2 {
        font-size: 2rem;
        font-weight: 500;
    }
}