@use '../../../styles/colors.scss' as *;

.logoutWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $c-blue-300;
    color: $c-white;
    padding: 1rem 1.5rem;
    border-top-left-radius: 0.5rem;
}

.logoutContainer{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

